/*背景笼罩层*/
body:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("/config/noise.png");
    position: fixed;
    z-index: 9999; /* 提高z-index确保始终置顶 */
    opacity: .036;
    pointer-events: none;
    touch-action: none;
}